@use "mixins";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 250px;
  height: 380px;
  flex: 1 1 250px;
  max-width: 300px;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }

  h3 {
    margin-top: 30px;
    font-size: 22px;
    flex-grow: 1;
  }

  p {
    margin-bottom: px;
    font-size: 16px;
  }
}

.btn {
  @include mixins.button-style;
}
